/.idea
/Servers
/.recommenders
/.metadata
/RemoteSystemsTempFiles

*.class
pom.properties
*.classpath
*.project

/novel.web/.settings

/novel.spider/.settings/*.component



/novel.spider/target/
/novel.web/target/




/novel.web/*.iml
/novel.spider/*.iml
/novel.storage/*.iml

/novel.web/.idea
/novel.web/*.iml
/ThinkingJava
/PictureSpider
/MyUtils
/DailyPractice
/out
/spider.iml
/novel.storage/target/maven-status/maven-compiler-plugin/compile/default-compile
/novel.storage/*.log
/novel.storage/logs
/novel.spider/logs/info
/novel.spider/logs/error
/novel.spider/logs/warn
/novel.storage/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile
/novel.storage/target
