/Servers
/.recommenders
/.metadata
/RemoteSystemsTempFiles

*.class
pom.properties
*.classpath
*.project
/novel.web/target/m2e-wtp/web-resources/
/novel.web/.settings/*.prefs
/novel.web/.settings
/novel.web/target/classes
/novel.spider/.settings/*.component
/novel.spider/target/classes/conf
.idea/libraries/*
/novel.web/target/*
