/.idea
/Servers
/.recommenders
/.metadata
/RemoteSystemsTempFiles

*.class
pom.properties
*.classpath
*.project

/novel.web/.settings

/novel.spider/.settings/*.component



/novel.spider/target/
/novel.web/target/




/novel.web/*.iml
/novel.spider/*.iml
/novel.storage/*.iml

/novel.web/.idea
/novel.web/*.iml
/ThinkingJava
/PictureSpider
/MyUtils
/DailyPractice
/out
